<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>
 <!-- Bootstrap row and col -->
  <div class="container-fluid">
    <div class="row ">
      <div class="col-3 bg-primary border  mw-100" style="height: 650px;
      TEXT-ALIGN: CENTER" >
        <img src="./logo.png" class="img-fluid rounded-circle" alt="">
        <h5><small class="text-uppercase text-nowrap text-white ">Gestion des Tickets</small></h5>
        <ul class="nav flex-column">
          <li class="nav-item">

            <a class="nav-link active text-white" href="#" style="
            TEXT-ALIGN: LEFT"><i class="fa fa-calendar mr-2"></i></i><span
                class="text-secondary"></span>Session</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#" style="
            TEXT-ALIGN: LEFT"> <i class="fa fa-user mr-2"></i></i>Utilisateur</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#" style="
            TEXT-ALIGN: LEFT"> <i class="fa fa-graduation-cap mr-2"></i>Référentiel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  text-white" href="#"style="
            TEXT-ALIGN: LEFT"> <i class="fa fa-graduation-cap mr-2"></i>Apprenant</a>
          </li>
        </ul>
      </div>

      <div class="col ">
        <div class="row">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link text-hiden" href="#"><i class="fa fa-plus-circle mr-2"></i>Inscrire </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-hid" href="#"> <i class="fa fa-graduation-cap mr-2 "></i>Nos apprenants</a>
                </li>
            
            </ul>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link text-hiden" href="#"> <i class="fa fa-user mr-2"></i></i>Admin</a>
              </li>
            </div> 
        </div>
        </ul>
               <!-- Tableau -->

          <h2 class="text-center">MODIFICATION D'UN APPRENANT</h2>
                <table class="table table-bordered table-hover ">
                  <thead>
                     <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>E-mail</th>
                        <th>Date de naissance</th>
                        <th>Lieu de naissance</th>
                        <th>Adresse</th>
                        <th>Référentiel</th>
                        <th>Session</th>
                        <th>Téléphone</th>
                        <th>Etat</th>
                     </tr>
                  </thead>
                  <tbody>
                    <tr>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                    </tr>
                    
                 </tbody>
               </table>

                <!-- FIN TABLEAU -->


                <!-- bouton-->
               <div class="row">
                  <div class="col-3"> 
                    
                  </div>

                 <div class="col-3">

                 <div class="col-sm-6 text-hide">
                  <button type="button" class="btn btn-primary btn-block bg-secondary" style="width: 150px;">Annuler</button>
                </div>
              </div>

              <div class="col-3"> 
                <div class="col-sm-6 text-hide">
                  <button type="button" class="btn btn-danger btn-block" style="width: 150px;">Valider</button>
                </div>
              </div>

                <div class="col-3"> 
                
              </div>
              </div>
             
      </div>
      </nav>


    
  </div>

  </div>
  </div>
  </div>

                    <!-- CSS-->

  <style type="text/css">
    .bg-primary,.text-primary,.btn-primary {
      background-color: #0F878A !important;
      ;
    }

    .bg-light {
      width: 200%;
    }
    .table {
      margin-top: 10%;
      width: auto;
    }
    .btn-primary   {
      background: #0F878A !important;
    }
    .btn-danger   {
      background: #0F878A !important ;
    }
    .text-center {
      margin-top: 50px;
      color:  #0F878A !important;
    }
    .text-hide{
       left: 20px;

        display: inline;
    }
    .text-hiden{
      color:  #0F878A !important;
    }
    .text-hid{
      color: #EC7E07 !important;
    }

    .bg-secondary,.text-secondary,.btn-secondary {
      background-color: #EC7E07 !important;
      ;
    }
  </style>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>